body {
    font-family: "Roboto";
}

.jumbotron {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0151b3+0,4096ee+100 */
    background: #0151b3;
    /* Old browsers */
    background: -moz-linear-gradient(top, #0151b3 0%, #4096ee 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #0151b3 0%, #4096ee 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #0151b3 0%, #4096ee 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#0151b3', endColorstr='#4096ee', GradientType=0);
    /* IE6-9 */
    color: #ffffff;
    margin-top: 15px;
}

.card-header {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0151b3+0,4096ee+100 */
    background: #0151b3;
    /* Old browsers */
    background: -moz-linear-gradient(top, #0151b3 0%, #4096ee 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #0151b3 0%, #4096ee 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #0151b3 0%, #4096ee 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#0151b3', endColorstr='#4096ee', GradientType=0);
    /* IE6-9 */
    color: white;
}